@model IEnumerable<MVCWithDB.Models.Fee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.SName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Student.SName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SFee)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SMonth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SYear)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {  id=item.SId, month=item.SMonth, year=item.SYear  }) |
        @Html.ActionLink("Details", "Details", new { id = item.SId, month = item.SMonth, year = item.SYear }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SId, month = item.SMonth, year = item.SYear })
    </td>
</tr>
}

</table>
