@model IEnumerable<ViewBagExcercise.Models.Courses>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <td>@ViewData["Msg"]</td>
    </tr>
    <tr>
        <td>Technologies Available: @ViewBag.Message</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Technology)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology)
            </td>

        </tr>
    }

</table>
