@model IEnumerable<IntroToASP.Models.Employee>

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoJ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoJ)
        </td>
    </tr>
}

</table>
